<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      >
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- Para reutilizar una porción de una página thimeleaf se usa
        el concepto de fragmento, al cual se le asigna un nombre UNICO-->
        <header th:fragment="encabezado">
            <!-- Insersión desde el archivo messages.properties -->
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>
        </header>
        
        <!-- Insersión de mensaje con nomenclatura de doble corchete -->
        <footer th:fragment="pie">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
                <span>[[#{plantilla.pie}]] <a href="http://www.fragmentosdecodigo.home.blog" target="_blank">Fragmentos de Codigo</a></span>
                <form method="POST" th:action="@{/logout}">
                    <b>User: </b> <span sec:authentication="name">Usuario que hizo login</span> |
                    <b>Roles: </b> <span sec:authentication="principal.authorities">Roles del usuario</span> |
                    <a href="#" onclick="this.parentNode.submit()">Logout</a> 
                </form>
            </div>
        </footer>
    </body>
</html>
