<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        
        <!--Crear links en Thymeleaf-->
        <a th:href="@{/agregar}">Crear persona</a>
        
        <br>
        <!-- Usar condicion para mostrar cuando la lista no venga vacía -->
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <!-- Iterar una lista obtenida del modelo -->
                <tr th:each="personaIterar : ${personas}">
                    <td th:text="${personaIterar.nombre}">Mostrar</td>
                    <td th:text="${personaIterar.apellido}">Mostrar</td>
                    <td th:text="${personaIterar.email}">Mostrar</td>
                    <td th:text="${personaIterar.telefono}">Mostrar</td>
                    <td><a th:href="@{/editar/} + ${personaIterar.id_persona}" th:text="Editar"/></td> <!--A este tipo de concatenación se le llama Path Variable-->
                    <td><a th:href="@{/eliminar(id_persona=${personaIterar.id_persona})}" th:text="Eliminar"/></td> <!-- Otra forma de concatenación -->
                </tr>
            </table>
        </div>
        
        <!-- Usar condicion para mostrar mensaje cuando la lista venga vacía -->
        <div th:if="${personas == null and personas.empty}">
            La lista de personas está vacía.
        </div>
    </body>
</html>
