<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- Para reutilizar una porción de una página thimeleaf se usa
        el concepto de fragmento, al cual se le asigna un nombre UNICO-->
        <header th:fragment="encabezado">
            <h1>Control de Clientes</h1>
        </header>
        
        <footer th:fragment="pie">
            <p>Derechos Reservados <a href="http://www.fragmentosdecodigo.home.blog" target="_blank">Fragmentos de Codigo</a></p>
        </footer>
    </body>
</html>
